div.buttonset label {
    display: inline;
}

fieldset label {
    display: block;
}

fieldset#loginform {
    width: 200px;
    text-align: center;
}

fieldset input[type=text], fieldset input[type=password] {
    width: 100%;
}

div#workr {
margin-left:20px;  
margin-top:10;
}

div#wks2 {
margin-top: 20px;
margin-left: 20px;
}

div#page > div {
    position:absolute;
    left:50%;
    top:50%;
}

div.small_page {
    width: 200px;
    margin-left:-100px;
    margin-top:-80px;
}

div.medium_page {
    width: 400px;
    margin-left: -200px;
    margin-top: -160px;
}

div.large_page {
    width: 600px;
    margin-left: -300px;
    margin-top: -240px;
}

img.live_tile {
    width: 128px;
    height: 128px;
}

body {
    margin: 0;
}

img#background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

div#user_bar {
    padding: 4px;
}

div#user_bar * {
    display: inline-block;
}

div#right_user_bar {
    float: right;
}

span.list_item {
    display: block;
    margin: 2px;
}

span.list_item a:first-child {
    width: 200px;
    text-align: left;
}

table {
    text-align: center;
}

table th {
    width: 150px;
}
