<html>
    <head>
        <title>Carbono</title>
        <script type="text/javascript" src="/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="/jquery_ui/jquery-ui.js"></script>
        <script type="text/javascript" src="/base.js"></script>
        <link rel="stylesheet" href="/jquery_ui/jquery-ui.css" />
        <link rel="stylesheet" href="/font-awesome-4.3.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/base.css" />
        <link rel="stylesheet" href="/button.css" />
        {% block head %}
        {% end %}
    </head>
    <body>
        <img id="background" src="background.png" />
        <div id="user_bar" class="ui-widget-header">
            <div id="left_user_bar">
                <a href="/">
                    <i class="fa fa-home fa-2x"></i>
                </a>
            </div>
            {% if current_user %}
                <div id="right_user_bar">
                    <a href="/manage_account">
                       <i class="fa fa-cog fa-2x right_align"></i>
                    </a>
                    <span>
                        <i class="fa fa-2x">{{ current_user }}</i>
                    </span>
                    <a href="/logout">
                        <i class="fa fa-sign-out fa-2x"></i>
                    </a>
                </div>
            {% end %}
        </div>
        {% if "error_message" in globals().keys() %}
            <div id="error_box" class="ui-state-error">
                {{ error_message }}
            </div>
        {% end %}
        <div id="page">
            {% block page %}
            {% end %}
        </div>
    </body>
</html>
