<html>
    <head>
        <title>Carbono</title>
        <script type="text/javascript" src="/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="/jquery_ui/jquery-ui.js"></script>
        <script type="text/javascript" src="/base.js"></script>
        <link rel="stylesheet" href="/jquery_ui/jquery-ui.css" />
        <link rel="stylesheet" href="/font-awesome-4.3.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/base.css" />
        <link rel="stylesheet" href="/botao.css" />
        {% block head %}
        {% end %}
    </head>
    <body>
        <div id="user_bar" class="ui-widget-header">
            <a href="/">
                <i class="fa fa-home fa-2x"></i>
            </a>
            {% if current_user %}
                <a href="/manage_account">
                   <i style="position: fixed; right: 8px; top: 4px;" class="fa fa-cog fa-2x"></i>
                </a>
                <span>
                    <i class="fa fa-user fa-2x"> {{ current_user }}</i>
                </span>
                <a href="/logout">
                    <i class="fa fa-sign-out fa-2x"></i>
                </a>
            {% end %}
        </div>
        {% if "error_message" in globals().keys() %}
            <div id="error_box" class="ui-state-error">
                {{ error_message }}
            </div>
        {% end %}
        <div id="page">
            {% block page %}
            {% end %}
        </div>
    </body>
</html>
