{% extends base.html %}
{% block page %}
    {% if "admin" in user_profiles %}
        <a href="/workers">
            <i class="fa fa-users"> Workers</i>
        </a>
    {% end %}
    {% if "seller" in user_profiles or "register" in user_profiles %}
        <a href="/clients">
            <i class="fa fa-users"> Clients</i>
        </a>
    {% end %}
    {% if "register" in user_profiles %}
        <a href="/products">
            <i class="fa fa-archive"> Products</i>
        </a>
    {% end %}
{% end %}
