{% extends base.html %}
{% block page %}
    <div class="small_page">
        <form action="/login" method="post">
            <fieldset id="loginform">
                <legend>Login</legend>
                {% if len(databases) > 1 %}
                    <select name="database_name">
                        {% for database_name in databases %}
                            <option value="{{ database_name }}">{{ database_name }}</option>
                        {% end %}
                    </select>
                {% end %}
                <label for="username">Username:</label>
                <input type="text" name="username">
                <label for="password">Password:</label>
                <input type="password" name="password">
                <input type="submit" value="Sign in" class="button ui-button ui-widget ui-state-default ui-corner-all" style="margin: 10px">
            </fieldset>
        </form>
    </div>
{% end %}
