{% extends base.html %}
{% block page %}
    <div class="medium_page">
        <form action="/register_client" method="post">
            <fieldset>
                <legend>{{ _("Register client") }}</legend>
                <label for="complete_name">{{ _("Complete name") }}:</label>
                <input type="text" name="complete_name">
                <label for="address">{{ _("Address") }}:</label>
                <input type="text" name="address">
                <input type="submit" class="button ui-button ui-widget ui-state-default ui-corner-all" value="{{ _("Register") }}">
            </fieldset>
        </form>
    </div>
{% end %}
