{% extends base.html %}
{% block page %}
    <fieldset>
        <legend>{{ _("Sale") }}</legend>
        <label for="client">{{ _("Client") }}:</label>
        <span>{{ sale["client"] }}</span>
        <label for="sale_term">{{ _("Sale term") }}:</label>
        <span>{{ sale["sale_term"] }}</span>
        <label for="initial_date">{{ _("Initial date") }}:</label>
        <span>{{ sale["initial_date"] }}</span>
        <label for="times">{{ _("Times") }}:</label>
        <span>{{ sale["times"] }}</span>
    </fieldset>
{% end %}
